body {
    background-color: #ccc;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
}

div, main, footer, a {
    box-sizing: border-box;
}

/* ----- HEADER ----- */
.header {
    width: 100%;
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #5c7;
    height: 20vh;
    margin: auto;
    filter: drop-shadow(0px 0px 15px #fff9) drop-shadow(0px 0px 2px #fff9) drop-shadow(0px 0px 1px #fff);
}

h1 {
    color: #222;
    letter-spacing: 3px;
    animation: grow 1s both steps(12);
    overflow: hidden;
    position: relative;
}

h1::selection {
    background-color: transparent;
}

h1::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #111;
    position: absolute;
    right: 0;
    border-radius: 4px;
    animation: titilar .25s infinite alternate;
}

@keyframes grow {
    from {
        width: 0%;
    }
    to{
        width: 20%;
    }
}

@keyframes titilar {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* ----- MAIN ----- */
.main {
    width: 100%;
}

.main__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #bbb;
    transition: transform .2s, background-color .2s;
}

.main__container:hover {
    transform: scale(1.02);
    background-color: #aaa;
}
.main__container:active {
    transform: scale(1.02);
    background-color: #aaa;
}

.main__container--item {
    width: 25%;
    background-color: #222;
    margin-right: 15px;
    justify-items: center;
    text-align: center;
    color: #888;
    font-weight: 900;
    border-radius: 6px;
}

.main__container a{
    color: #183;
    font-size: 20px;
    font-weight: 400;
    transition: font-weight .2s;
}
.main__container a:hover{font-weight: 600;}
.main__container a:focus{font-weight: 600;}

/* ----- FOOTER ----- */
footer {
    width: 100%;
    height: 20vh;
    background-color: #222;
    justify-items: center;
    align-content: center;
    color: #bbb;
    margin-top: 110px;
}

/* ----- RESPONSIVE ----- */
@media screen and (max-width: 812px) {
    @keyframes grow {
        from {
            width: 0%;
        }
        to{
            width: 61%;
        }
    }
    .main__container {
        flex-direction: column;
        align-items: start;
    }
    .main__container--item {
        width: 100%;
        font-size: 20px;
    }
    .main__container a{
        font-size: 20px;
        margin: 20px 0px 20px 0px;
    }
}